@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@plugin "tailwindcss-animate";

@source "../../../packages/chengdu_ui/src";

@layer base {
  :root {
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 326.1 100% 74.9%;
    --secondary-foreground: 210 40% 98%;

    --accent: 177.4 64.4% 49.8%;
    --accent-foreground: 210 40% 98%;

    --neutral: 215 27.9% 16.9%;
    --neutral-foreground: 210 40% 98%;

    --base-100: 0 0% 100%;
    --base-200: 210 20% 98%;
    --base-300: 210 16.7% 97.6%;
    --base-content: 215.3 25% 26.7%;
  }

  [data-theme="dark"] {
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 326.1 100% 74.9%;
    --secondary-foreground: 210 40% 98%;

    --accent: 177.4 64.4% 49.8%;
    --accent-foreground: 210 40% 98%;

    --neutral: 215 27.9% 16.9%;
    --neutral-foreground: 210 40% 98%;

    --base-100: 215.3 25% 26.7%;
    --base-200: 215.3 25% 22.7%;
    --base-300: 215.3 25% 18.7%;
    --base-content: 210 40% 98%;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-base-100 text-base-content;
}

/* 简单的全局过渡效果 */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

